RewriteEngine On

# Si el archivo o carpeta solicitada NO existe físicamente...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...redirige todo al index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]